# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from pathlib import Path
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# # Upload credit_card_transactions.csv to Colab
# from google.colab import files

# csv_file = files.upload()

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('./Resources/applicants_data.csv')
    
)

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','ORGANIZATION','INCOME_AMT','ASK_AMT']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'ORGANIZATION',
 'INCOME_AMT',
 'ASK_AMT']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df

C:\Users\zache\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ASK_AMT_1665460552,ASK_AMT_1736232349,ASK_AMT_1893400128,ASK_AMT_2264109450,ASK_AMT_2310256039,ASK_AMT_3391919220,ASK_AMT_4653011914,ASK_AMT_5591584994,ASK_AMT_8556638692,ASK_AMT_8597806340
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_values=applicant_data_df[list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)]
encoded_df = pd.concat([encoded_df,numerical_values],axis=1)
# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ASK_AMT_2264109450,ASK_AMT_2310256039,ASK_AMT_3391919220,ASK_AMT_4653011914,ASK_AMT_5591584994,ASK_AMT_8556638692,ASK_AMT_8597806340,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ASK_AMT_1893400128,ASK_AMT_2264109450,ASK_AMT_2310256039,ASK_AMT_3391919220,ASK_AMT_4653011914,ASK_AMT_5591584994,ASK_AMT_8556638692,ASK_AMT_8597806340,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:

# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state =1)

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
x_scaler = scaler.fit(X_train)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:

# Fit the scaler to the features training dataset
X_train_scaled = x_scaler.transform(X_train)
X_test_scaled = x_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons =1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  29

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [ ]:
# Create the Sequential model instance
nn = Sequential()

In [ ]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1,input_dim=number_input_features,activation='relu'))

In [ ]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2,activation='relu'))

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons,activation='linear'))

In [ ]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [32]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics='accuracy')

In [33]:
# Fit the model using 50 epochs and the training data
model=nn.fit(X_train_scaled,y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 2/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 4/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 5/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 6/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 7/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 8/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 9/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 10/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 11/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 12/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 13/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 19/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 20/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 21/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 22/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 23/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 25/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 26/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 27/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 29/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 30/50
804/804 [==============================] - 6s 8ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 31/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 32/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 34/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 36/50
804/804 [==============================] - 6s 8ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 37/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 38/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 39/50
804/804 [==============================] - 7s 8ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 40/50
804/804 [==============================] - 7s 9ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 42/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 43/50
804/804 [==============================] - 5s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 44/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 45/50
804/804 [==============================] - 6s 7ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 47/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 48/50
804/804 [==============================] - 4s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 49/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 8.2248 - accuracy: 0.0017

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [34]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 6s - loss: 8.1592 - accuracy: 0.0033 - 6s/epoch - 22ms/step
Loss: 8.159163475036621, Accuracy: 0.003265306120738387

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [35]:
# Set the model's file path
file_path = Path('../Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

8856

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

10

In [39]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [40]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1,input_dim=number_input_features, activation='relu'))


# Output layer
nn_A1.add(Dense(units=number_output_neurons,activation='linear'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                88570

 dense_4 (Dense)             (None, 1)                 11

=================================================================
Total params: 88,581
Trainable params: 88,581
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy',optimizer='adam',metrics='accuracy')

In [42]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 7s 6ms/step - loss: 2.6628 - accuracy: 0.6437
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6427 - accuracy: 0.6665
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6465 - accuracy: 0.6605
Epoch 4/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6584 - accuracy: 0.6693
Epoch 5/50
804/804 [==============================] - 4s 6ms/step - loss: 2.6576 - accuracy: 0.6674
Epoch 6/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6620 - accuracy: 0.6686
Epoch 7/50
804/804 [==============================] - 4s 6ms/step - loss: 2.6610 - accuracy: 0.6686
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6625 - accuracy: 0.6690
Epoch 9/50
804/804 [==============================] - 4s 6ms/step - loss: 2.6779 - accuracy: 0.6526
Epoch 10/50
804/804 [==============================] - 4s 6ms/step - loss: 2.6773 - accuracy: 0.6693
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6690 - accuracy: 0.6692
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6684 - accuracy: 0.6707
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6676 - accuracy: 0.6675
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6589 - accuracy: 0.6673
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6585 - accuracy: 0.6684
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6589 - accuracy: 0.6684
Epoch 17/50
804/804 [==============================] - 4s 6ms/step - loss: 2.6617 - accuracy: 0.6679
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6609 - accuracy: 0.6666
Epoch 19/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6580 - accuracy: 0.6688
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6568 - accuracy: 0.6680
Epoch 21/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6519 - accuracy: 0.6693
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6522 - accuracy: 0.6691
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6576 - accuracy: 0.6703
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6551 - accuracy: 0.6693
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6882 - accuracy: 0.6531
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6592 - accuracy: 0.6654
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6560 - accuracy: 0.6675
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6524 - accuracy: 0.6702
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6536 - accuracy: 0.6677
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6701 - accuracy: 0.6484
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6644 - accuracy: 0.6116
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 2.6366 - accuracy: 0.6635
Epoch 33/50
804/804 [==============================] - 4s 6ms/step - loss: 2.6275 - accuracy: 0.6653
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 2.6713 - accuracy: 0.6417
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 2.5875 - accuracy: 0.6717
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 2.3190 - accuracy: 0.6975
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8804 - accuracy: 0.7068
Epoch 38/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8489 - accuracy: 0.7160
Epoch 39/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8326 - accuracy: 0.7173
Epoch 40/50
804/804 [==============================] - 4s 6ms/step - loss: 1.8319 - accuracy: 0.7098
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8128 - accuracy: 0.7199
Epoch 42/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7828 - accuracy: 0.7198
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7701 - accuracy: 0.7236
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 1.7322 - accuracy: 0.7243
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 1.6710 - accuracy: 0.7292
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 1.6558 - accuracy: 0.7303
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 1.6856 - accuracy: 0.7013
Epoch 48/50
804/804 [==============================] - 4s 6ms/step - loss: 1.6659 - accuracy: 0.7169
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 1.6442 - accuracy: 0.7320
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 1.6467 - accuracy: 0.7318

#### Alternative Model 2

In [43]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

8856

In [48]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [49]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

20

In [50]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [51]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu' ))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='linear'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 20)                177140

 dense_8 (Dense)             (None, 1)                 21

=================================================================
Total params: 177,161
Trainable params: 177,161
Non-trainable params: 0
_________________________________________________________________

In [52]:
# Compile the model
nn_A2.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

In [53]:
# Fit the model
nn_A2.fit(X_train_scaled,y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 8s 8ms/step - loss: 2.6586 - accuracy: 0.6470
Epoch 2/50
804/804 [==============================] - 5s 7ms/step - loss: 2.5921 - accuracy: 0.6402
Epoch 3/50
804/804 [==============================] - 5s 7ms/step - loss: 2.5003 - accuracy: 0.6497
Epoch 4/50
804/804 [==============================] - 5s 6ms/step - loss: 2.2395 - accuracy: 0.6798
Epoch 5/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8729 - accuracy: 0.7059
Epoch 6/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7946 - accuracy: 0.7173
Epoch 7/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7705 - accuracy: 0.7048
Epoch 8/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7445 - accuracy: 0.7207
Epoch 9/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7460 - accuracy: 0.7034
Epoch 10/50
804/804 [==============================] - 6s 7ms/step - loss: 1.7404 - accuracy: 0.7149
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7207 - accuracy: 0.7227
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7199 - accuracy: 0.7212
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7108 - accuracy: 0.7254
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7094 - accuracy: 0.7206
Epoch 15/50
804/804 [==============================] - 7s 8ms/step - loss: 1.7128 - accuracy: 0.7266
Epoch 16/50
804/804 [==============================] - 6s 7ms/step - loss: 1.7104 - accuracy: 0.7265
Epoch 17/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7129 - accuracy: 0.7244
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7081 - accuracy: 0.7297
Epoch 19/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7065 - accuracy: 0.7282
Epoch 20/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7046 - accuracy: 0.7297
Epoch 21/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7155 - accuracy: 0.7257
Epoch 22/50
804/804 [==============================] - 6s 7ms/step - loss: 1.7105 - accuracy: 0.7295
Epoch 23/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7117 - accuracy: 0.7290
Epoch 24/50
804/804 [==============================] - 6s 7ms/step - loss: 1.7118 - accuracy: 0.7265
Epoch 25/50
804/804 [==============================] - 6s 7ms/step - loss: 1.7111 - accuracy: 0.7288
Epoch 26/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8441 - accuracy: 0.7201
Epoch 27/50
804/804 [==============================] - 5s 7ms/step - loss: 1.8514 - accuracy: 0.7196
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8532 - accuracy: 0.7182
Epoch 29/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8369 - accuracy: 0.7210
Epoch 30/50
804/804 [==============================] - 5s 7ms/step - loss: 1.8311 - accuracy: 0.7224
Epoch 31/50
804/804 [==============================] - 6s 7ms/step - loss: 1.8158 - accuracy: 0.7215
Epoch 32/50
804/804 [==============================] - 5s 7ms/step - loss: 1.7523 - accuracy: 0.7281
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7329 - accuracy: 0.7284
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7143 - accuracy: 0.7267
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 1.7253 - accuracy: 0.7268
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8825 - accuracy: 0.7127
Epoch 37/50
804/804 [==============================] - 5s 7ms/step - loss: 1.9200 - accuracy: 0.7142
Epoch 38/50
804/804 [==============================] - 5s 7ms/step - loss: 1.9024 - accuracy: 0.7160
Epoch 39/50
804/804 [==============================] - 6s 7ms/step - loss: 1.8912 - accuracy: 0.7177
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8841 - accuracy: 0.7180
Epoch 41/50
804/804 [==============================] - 5s 7ms/step - loss: 1.8591 - accuracy: 0.7201
Epoch 42/50
804/804 [==============================] - 5s 6ms/step - loss: 1.8460 - accuracy: 0.7205
Epoch 43/50
804/804 [==============================] - 6s 7ms/step - loss: 1.8468 - accuracy: 0.7142
Epoch 44/50
804/804 [==============================] - 5s 7ms/step - loss: 1.8468 - accuracy: 0.7209
Epoch 45/50
804/804 [==============================] - 5s 7ms/step - loss: 1.8303 - accuracy: 0.7210
Epoch 46/50
804/804 [==============================] - 5s 7ms/step - loss: 3.5553 - accuracy: 0.6532
Epoch 47/50
804/804 [==============================] - 6s 7ms/step - loss: 3.4309 - accuracy: 0.7041
Epoch 48/50
804/804 [==============================] - 5s 6ms/step - loss: 3.3607 - accuracy: 0.7066
Epoch 49/50
804/804 [==============================] - 5s 6ms/step - loss: 3.8744 - accuracy: 0.6542
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 2.2390 - accuracy: 0.7110

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [54]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 2s - loss: 8.1592 - accuracy: 0.0033 - 2s/epoch - 6ms/step
Loss: 8.159163475036621, Accuracy: 0.003265306120738387

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)